@using ProniaWebApp.Models;
@model List<Product>
@{
    int count = 0;
}
<div class="container">
    <div class="d-flex" style="justify-content:space-around;align-items:center">
        <h1>
            Products
        </h1>
        <a class="btn btn-primary" asp-controller="Product" asp-action="Create">Create</a>


    </div>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">No#</th>
                <th scope="col">Id</th>
                <th scope="col">Name</th>
                <th scope="col">Price</th>
                <th scope="col">Category</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                count++;
                <tr>
                    <th scope="row">@count</th>
                    <td>@item.Id</td>
                    <td>@item.Name</td>
                    <th>@item.Price</th>
                    <th>@item.Category.Name</th>
                    <td>
                        <a class="btn btn-success" asp-controller="Product" asp-action="Update" asp-route-id="@item.Id">Update</a>
                        <a class="btn btn-danger" asp-controller="Product" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>


                </tr>
            }
        </tbody>
    </table>
</div>
